.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fffc00;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 80px;
  margin-left: 5px;
  padding: 5px;
  margin: 5px;
}

.header__right {
  display: flex;
  cursor: pointer;
  padding: 10px;
}

.header__rightOptions {
  padding: 10px;
  font-weight: 500;
}

.header__rightOptions:hover {
  text-decoration: underline;
}
